.calculatrice
{
  
  margin-top: 70px;
  width: 250px;
  background-color: beige;
  font-size: 10px;
  text-align: left;
  font-weight: bold;
  
}
.nom
{
    
    margin-top: 40px;
    font-size: 55px;
    text-align: center;
font-style: italic;
color: crimson;
font-weight: bolder;
}
.color
{
  background-color: beige;
}
.table
{
  border: 2px;
  margin-left: 480px;
 
}